<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/demo?characterEncoding=UTF-8&amp;useUnicode=true</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="show_sql">true</property>

		<!-- c3p0 config -->
		<property name="hibernate.c3p0.min_size">4</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.timeout">600</property>
		<property name="hibernate.c3p0.idle_test_period">600</property>

		<mapping resource="com/hibernate/xml/entity/Stock.hbm.xml" />
		<mapping resource="com/hibernate/xml/entity/StockDetail.hbm.xml" />
		<mapping resource="com/hibernate/xml/entity/Member.hbm.xml" />
		<mapping resource="com/hibernate/xml/entity/MemberCard.hbm.xml" />
		<mapping resource="com/hibernate/xml/entity/Teacher.hbm.xml" />
		<mapping resource="com/hibernate/xml/entity/Student.hbm.xml" />
	</session-factory>
</hibernate-configuration>