<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id="mockAspect" class="com.myimooc.spring.simple.aop.schema.advice.MockAspect"/>

    <bean id="aspectBiz" class="com.myimooc.spring.simple.aop.schema.advice.biz.AspectBiz"/>

    <aop:config>
        <!-- 视频：5-2 配置切面aspect -->
        <aop:aspect id="mockAspectAOP" ref="mockAspect">
            <!-- 视频：5-4 Advice应用（上） -->
            <!-- 切入点为执行AspectBiz类中的所有方法 -->
            <aop:pointcut id="mockPointcut"
                                expression="execution(* com.myimooc.spring.simple.aop.schema.advice.biz.*Biz.*(..))"/>
            <!--            <aop:before method="before" pointcut-ref="mockPointcut"/>-->                  <!-- 前通知 -->
            <!--            <aop:after-returning method="afterReturning" pointcut-ref="mockPointcut"/>--> <!-- 返回后通知 -->
            <!--            <aop:after-throwing method="afterThrowing" pointcut-ref="mockPointcut"/>-->   <!-- 抛出异常后通知 -->
            <!--            <aop:after method="after" pointcut-ref="mockPointcut"/>-->                    <!-- 后通知 -->
            <!--            <aop:around method="around" pointcut-ref="mockPointcut"/>-->                  <!-- 环绕通知 -->

            <!-- 视频：5-5 Advice应用（下）-->
            <!--            <aop:around method="aroundInit" pointcut="execution(* com.myimooc.spring.simple.aop.schema.advice.biz.AspectBiz.init(String, int))-->
            <!--             							and args(bizName, times)" arg-names="pjp,bizName,times"/>-->   <!-- 使用通知参数的方式 -->

            <!-- 视频：5-6 Introductions应用 -->
            <!-- 声名所有匹配的类型拥有新的父类 -->
            <aop:declare-parents
                    types-matching="com.myimooc.spring.simple.aop.schema.advice.biz.*+)"
                    implement-interface="com.myimooc.spring.simple.aop.schema.advice.Fit"
                    default-impl="com.myimooc.spring.simple.aop.schema.advice.FitImpl"/>
        </aop:aspect>
    </aop:config>

</beans>
