<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置HandlerMapping -->
	<!-- 
		HandlerMapping告诉DispatcherServlet请求地址(url)与处理器(Controller)的对应关系。
	 -->
	<bean 
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/hello.do">helloController</prop>
				<prop key="/userList.do">userController</prop>
			</props>
		</property>
	</bean>

	<!-- 配置处理器 -->
	<bean id="helloController" class="com.learn.controller.HelloController"/>
	<bean id="userController" class="com.learn.controller.UserController"/>

	<!-- ViewResolver 配置视图解析器 -->
	<bean 
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
		
</beans>